@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

.header {
  background-color: #15161a;
}

.card {
  background-color: rgb(39 39 42 / 0.5);
}
